.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--gap-s);
}

.label {
  font-size: var(--font-size-tiny);
  color: var(--color-medium-grey);
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing-base);
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-s);
}

.option {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 28rem;
  padding: 0 10rem;
  font-size: var(--font-size-tiny);
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing-base);
  color: var(--color-off-black);
  border: var(--border-size) solid var(--color-divider);
  border-radius: var(--inner-border-radius);
  text-decoration: none;
  transition:
    color var(--transition-base),
    border-color var(--transition-base);
  white-space: nowrap;
}

.option:hover {
  border-color: var(--color-off-black);
}

.active {
  border-color: var(--color-off-black);
  font-weight: 500;
}
